@page
@model PersonalSite.Pages.AboutModel
@{
    ViewData["Title"] = "About Me";
}

<div class="card text-white" style="margin-bottom:-4px">
    <img class="img-fluid card-img rounded-top" src="./img/welcome-banner.png" alt="All about me.">
    <div class="card-img-overlay d-flex">
        <div class="text-center my-auto mx-auto ">
            <h4 class="card-title">About Me</h4>
        </div>
    </div>
</div>
<br />
<div class="text-justify">
    <h6>Overview</h6>
    Hi, I'm James, and I'm a software developer and aspiring leader. I currently work for global leader in next-generation digital services and consulting
    within the UK as a Senior System Engineer, <text class="font-weight-bold">but this website, content and opinions expressed within are my own.</text>
    <br /><br />
    This website was built not only as a personal project to learn some new development skills, but also to showcase me and my abilities. It's also so
    that I can blog about technical, leadership, gaming, code or web related topics, because thats what nerds do right?
</div>
<br />
<div class="text-justify">
    <h6>Why Software Development?</h6>
    It might sound arrogant, but I find the story of how I got into IT quite an inspiring one, as it proves anyone can go ahead and learn new things to
    change their career paths.
    <br /><br />
    Before I engineered software I worked in a contact centre. Aside from the constant phone calls and <text class="font-italic">glorious</text> micromanagement,
    I managed spreadsheets. Keeping this updated was a huge pain, especially when people wouldnt close it so I could update it. So I asked myself, there's an 
    easier way, right?
    <br /><br />
    On the back of that question I went off and taught myself HTML, CSS and some Javascript in order to build a series of HTML pages that I sneakily hosted
    on an internal sharepoint filesystem. From there, in December of 2012, I got myself an interview for a Technical Analyst role which I secured by demonstrating 
    the skills I'd learned and my passion for technology.
    <br /><br />
    Over the years I taught myself C# and the .NET Framework in order to build large scale client applications. I've done everything across a three tier architecture
    including extensive work in WPF and Oracle back end. I pride myself on driving my career and hopefully you'll join me on my journey for however long it lasts!
</div>
<br />
<div class="text-justify">
    <h6>Information Overload</h6>
    In my personal time firstly and most importantly I'm a father of two beautiful girls and a boyfriend to a wonderful girlfriend. Beyond this I play video games 
    on PC and PS4, enjoy tabletop warfare with Warhammer 40K (Blood Angels baby!) and throw my hand to board games occasionally.
    <br /><br />
    I love good quality food! Whilst I'm not the kind of guy that heads out for beer, I do enjoy a good spiced rum. That and my love for live music and photography 
    and I'm throwing my hand at a fair few things in life.
    <br /><br />
    Naturally I also love technology, so I think finally it goes without saying I do some coding in my own time. You can check out the code I've written
    by heading over to my <a href="https://github.com/jacon-dev" target="_blank">GitHub</a>, but hopefully just exploring this site will make you realise what a big part technology 
    and programming both play in
    my life!
</div>