@page
@model PersonalSite.Pages.AboutModel
@{
    ViewData["Title"] = "About Me";
}

<div class="card text-white" style="margin-bottom:-4px">
    <img class="img-fluid card-img rounded-top" src="./img/welcome-banner.png" alt="All about me.">
    <div class="card-img-overlay d-flex">
        <div class="text-center my-auto mx-auto ">
            <h4 class="card-title">About Me</h4>
        </div>
    </div>
</div>
<br />
<div class="text-justify">
    <h6>Overview</h6>
    Hi, my name is James Conlin and I am a software developer and aspiring leader. I currently work for Infosys within the UK as a Senior System Engineer,
    <text class="font-weight-bold">but this website, content and opinions expressed within are my own.</text>
    <br /><br />
    This website was built not only as a personal project to learn some new development skills, but also to showcase me, my abilities and to blog about
    technical, leadership, gaming, code or web related topics.
</div>
<br />
<div class="text-justify">
    <h6>Why Software Development?</h6>
    It might sound arrogant, but I find the story of how I got into IT quite an inspiring one, as it proves anyone can go ahead and learn new things to
    change their career.
    <br /><br />
    Before I engineered software I worked in a contact centre. I spent my time on the side of taking calls managing spreadsheets with helpful info in them.
    On a regular basis, keeping this updated while around 50 people used it caused me grief. Having to mail out asking people to come out, then they didn't
    so I had to go to their desks. What a pain right? At the time I asked myself, "Is there an easier way to do this?" It turns out there was!
    <br /><br />
    On the back of that question I went off and taught myself HTML, CSS and some Javascript in order to build a website that I could host on an internal
    SharePoint (back in the day there was no other way!). From there, in December of 2012, I got myself an interview for a Technical Analyst role which I 
    secured by demonstrating my skills and a passion for technology.
    <br /><br />
    Over the years I taught myself C# and the .NET Framework in order to build large scale client applications across a three tier architecture, as well as 
    designed numerous front end changes and architected back end table structures. So here I am in 2020 building this website to look further forward in 
    my career and give myself more technical challenges. Hopefully you'll join me on my journey for however long it lasts!
</div>
<br />
<div class="text-justify">
    <h6>Information Overload</h6>
    In my personal time I get up to a heck of a lot where I can. Firstly and most importantly I'm a father of two beautiful girls and a boyfriend to a
    a wonderful girlfriend. Beyond this I play video games on PC and PS4 and tabletop game with Warhammer 40K (Blood Angels baby!).
    <br /><br />
    At heard I'm a foodie and I love nothing more than meeting up with friends for good drinks and quality food. Couple this with my love for live music
    and photography and I'm throwing my hand at a fair few things in life.
    <br /><br />
    Naturally I also love technology, so I think finally it goes without saying I do some coding in my own time. You can check out the code I've written
    by heading over to my GitHub, but hopefully just exploring this site will make you realise what a big part technology and programming both play in
    my life!
</div>