<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>James Conlin - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index"><img src="./img/logo.png" width="60" alt="Home" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/About">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Blog">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Applications">Applications</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        @*<div class="container text-center border-top border-left border-right mx-auto my-auto bg-light" style="padding-top:20px; padding-bottom:20px">
            <div class="row">
                <div class="col border-right">
                    <h5>Blog</h5>
                        <div style="list-style-type:none; margin-bottom:-25px"><a asp-page="/Index">Privacy</a></div>
                        <div style="list-style-type:none; margin-bottom:-25px"><a asp-page="/Index">Popular</a></div>
                        <div style="list-style-type:none; margin-bottom:-25px"><a asp-page="/Index">Interview Material</a></div>
                </div>
                <div class="col border-right">
                    <h5>Apps</h5>
                    <ol>
                        <li style="list-style-type:none; margin-bottom:-25px"><a asp-page="/Index">Skate Timer</a></li>
                        <li style="list-style-type:none; margin-bottom:-25px"><a asp-page="/Index">test</a></li>
                        <li style="list-style-type:none; margin-bottom:-25px"><a asp-page="/Index">test</a></li>
                    </ol>
                </div>
                <div class="col">
                    <h5>About</h5>
                    <ol>
                        <li style="list-style-type:none; margin-bottom:-25px"><a asp-page="/Index">More About Me</a></li>
                        <li style="list-style-type:none; margin-bottom:-25px"><a asp-page="/Index">Contact Me</a></li>
                        <li style="list-style-type:none; margin-bottom:-25px"><a asp-page="/Index">See My Code</a></li>
                    </ol>
                </div>
            </div>
        </div>*@
        <div class="text-center my-auto mx-auto border-top bg-light">
            &copy; 2020 - James Conlin - <a asp-area="" asp-page="/Privacy">Privacy Policy</a> - Disclaimer: All opinions expressed on this site are my own and do not represent the views of my employer
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
